<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href = "/css/styles.css">
</head>
<body>
    <div class="main-container">
          {{>header}}
          <p>{{body}}</p>
    </div>
    {{>footer}}
</body>
</html>